.footer {
    background: hsl(108, 50%, 93%);
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 3rem;
    position: relative;
    color: hsl(109, 48%, 36%);
    border-radius: 0;
    padding: 1rem;
    text-align: center;
}